doctype xml
GetItemRequest(xmlns="urn:ebay:apis:eBLBaseComponents")
	RequesterCredentials
		eBayAuthToken=$accountToken
	ItemID=$itemID
	OutputSelector="ItemID"
	OutputSelector="RelistParentID"
	OutputSelector="Title"
	OutputSelector="Quantity"
	OutputSelector="Description"
	OutputSelector="ViewItemURL"
	OutputSelector="PictureDetails"
	OutputSelector="BuyItNowPrice"
	OutputSelector="Currency"
	OutputSelector="SellingStatus"
	OutputSelector="ShippingDetails"